algorithmia==1.3.0
algorithmia-api-client==1.1.0
asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.3
certifi==2020.6.20
click==7.1.2
Django==3.0.9
dnspython==2.0.0
enum34==1.1.10
eventlet==0.25.2
Flask==1.1.2
Flask-Cors==3.0.8
Flask-SocketIO==4.3.1
Flask-SQLAlchemy==2.4.4
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
gunicorn==20.0.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
migrate==0.3.8
monotonic==1.5
PyAudio==0.2.11
pycodestyle==2.6.0
PyJWT==1.7.1
pylint==2.5.3
python-dateutil==2.8.1
python-engineio==3.13.1
python-socketio==4.6.0
pytz==2020.1
SpeechRecognition==3.8.1
SQLAlchemy==1.3.18
sqlparse==0.3.1
toml==0.10.1
twilio==6.44.1
Werkzeug==1.0.1
wrapt==1.12.1
zope.event==4.4
zope.interface==5.1.0
